.main {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Roboto";
  background:  url("../../img/fundo.jpg") fixed top center;
 }
 .form {
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 5px;
    padding: 15px 25px;
    width: 80%;
    margin: 0;
  }
 .a {
    border: none;
    color: white;
    background: red;
    padding: 8px 8px;
    border-radius: 5px;
    display: block;
    margin: 10px auto 10px auto;
    width: 120px;
  }
