.titulo{
  align-items: center;
  justify-content: center;
  align-content: center;
}
.main {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  font-family: "Roboto";
  background:  url("../../img/fundo.jpg") fixed top center;
 }
 .form {
    align-items: center;
    justify-content: center;
    background-color: #fff;
    opacity: 0.9;
    border-radius: 10px;
    padding: 20px 35px;
    width: 30%;
    margin: 0;
    display: block;
    margin: 5px auto 5px auto;
  }
 .a, .button {
    border: none;
    color: white;
    background: red;
    padding: 8px 8px;
    border-radius: 5px;
    display: block;
    margin: 10px auto 10px auto;
    width: 120px;
  }
 input{
    width: 40px;
    border-radius: 5px;
    border: 2px solid red;
  }
