.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Roboto";
  background:  url("../../img/fundo.jpg") fixed top center;
 }
 .a{
   justify-content: center;
   align-items: center;
   text-decoration: none;
   color: black;
 }
